* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 98vh;
}

header {
  margin: 1%;
}

h1 {
  font-size: 300%;
  font-family: 'Quicksand', sans-serif;
}

.search-content {
  margin: 50px auto;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.searchbar, 
.search-buttons {
  width: 100%;
}

.form-control {
  border-radius: 20px;
}

.search-buttons {
  display: flex;
  justify-content: space-evenly;
}

.search-buttons button {
  background-color: white;
  border: 1px solid rgb(156, 156, 156);
  color: black;
  border-radius: 25px;
  padding: 5px 20px;
}

.search-buttons button:hover {
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.btn-primary {
  border-radius: 20px;
  padding: 5px 20px;
}

.current-day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: lowercase;
  width: 500px;
}

.display-city {
  font-size: 500%;
}

.display-date {
  position: relative;
  left: 10px;
  font-size: 250%;
}

.weather-info {
  display: flex;
  align-items: center;
}

.display-wth-icon {
  height: 150px;
  width: 150px;
}

.display-wth-text {
  font-size: 175%;
  font-style: italic;
}

.current-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
}

.card-title {
  font-size: 125%;
  text-transform: uppercase;
}

.card-content {
  font-size: 300%;
  font-weight: bold;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(255, 255, 255, 0.45);
}
